*.DS_Store
#Ignore data folder for privacy protection
Data/
Scripts/Archives/
#Ignore results folder
Results/
Manuscript/
Miscellaneous/
*.pyc
__pycache__/
*.ipynb_checkpoints
.Rproj.user
.Rhistory
.Rproj
*.pyc